.option {
	display: flex;
	align-items: center;
	width: 100%;
	height: 56px;
	padding-left: 20px;
	background-color: white;
	font-size: 14px;
	color: var(--orange);
	letter-spacing: 2.2px;
	cursor: pointer;

	&.reverse {
		background-color: rgba(45, 41, 38, 0.95);
		color: white;
	}

	&.border {
		border: solid 0.5px #b4b4b4;
		border-radius: 5px;
	}

	&:hover {
		border: none;
		background-color: var(--orange);
		color: white;
	}

	&.active {
		border: none;
		background-color: var(--orange);
		color: white;
	}
}
