.text-advertisement {
	& > ul {
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		color: #ff6f00;

		& > li {
			&:not(:last-child) {
				/* margin-bottom: 8px; */
			}

			& a {
				font-size: 13px;
				line-height: 2;
				letter-spacing: 2px;
				color: #ff6f00;
			}
		}
	}
}

@media screen and (--phone) {
	.text-advertisement {
		& > ul {
			-webkit-padding-start: 20px;

			& > li {
				margin-bottom: 10px;

				& a {
					line-height: 1.5;
				}
			}
		}
	}
}
